<%= form_with(model: staff) do |f| %>
  <% if staff.errors.any?  %>
    <ul>
        <% staff.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
  <% end %>
  <div class="field">
    <%= f.label :staff_no, "員工編號" %>
    <%= f.text_field :staff_no, placeholder: "輸入編號" %>
  </div>

  <div class="field">
    <%= f.label :name, "姓名" %>
    <%= f.text_field :name,placeholder: "輸入姓名" %>
  </div>

  <div class="field">
    <%= f.label :tel, "電話號碼" %>
    <%= f.text_field :tel, placeholder:"輸入手機號碼" %>
  </div>

  <div class="field">
    <%= f.label :gender, "性別" %>
    <%= f.select :gender , Staff.all_gender %>
  </div>

  <div class="field">
    <%= f.label :start_at, "報到日期" %>
    <%= f.date_field :start_at  %>
  </div>

  <div class="form-group">
    <%= f.label :department_id, "部門名稱"%>
    <%= f.select :department_id, Department.all.map{ |i| [i.department_name, i.id] }, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
