  <h1 class="px-6 pt-3 bg-gray-200"><%= t('員工資訊') %></h1>
  <div class="px-6 pt-5 pb-10 bg-gray-200">
    <table class="w-full text-lg">
        <tr class="thead">
            <td class="tp"><%= t('員工編號') %></td>
            <td class="tp"><%= t('姓名') %></td>
            <td class="tp"><%= t('部門名稱') %></td>
            <td class="tp"><%= t('性別') %></td>
            <td class="tp"><%= "電子信箱" %></td>
            <td class="tp"><%= "聯絡電話" %></td>
        </tr>
        <% @profiles.order(staff_no: :asc).each do |profile|  %>
        <div class="h-full bg-gray-200">
        <tr>
            <td class="tbody"><%= profile.staff_no %></td>
            <td class="tbody"><%= profile.name %></td>
            <td class="tbody"><%= profile.department%></td>
            <td class="tbody"><%= profile.gender %></td>
            <td class="tbody"><%= profile.email %></td>
            <td class="tbody"><%= profile.tel %></td>
          <% end %>
        </tr>
    </table>
  </div>
</div>