<div class="flex items-center justify-center w-full h-screen mt-16 mb-20 bg-gray-200 ">
<%= form_with(model: @profile, url: profile_path, method: 'patch') do |f| %>
  <% if @profile.errors.any?  %>
    <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
  <% end %>
  <form>
    <div class="w-screen max-w-2xl px-10 py-8 bg-white shadow-md rounded-xl">
      <h1 class="pt-4 text-2xl font-semibold text-center text-gray-600">編輯員工資訊</h1>
          <%= f.label :staff_no, t("員工編號") ,class: "block mb-1 font-semibold text-gray-600"%>
          <%= f.text_field :staff_no, placeholder: t("輸入編號"),class: "w-full px-4 py-2 rounded-md outline-none bg-indigo-50" %>
        <div>
          <%= f.label :name, t("姓名"),class: "block mb-1 font-semibold text-gray-600" %>
          <%= f.text_field :name,placeholder: t("輸入姓名") ,class: "w-full px-4 py-2 rounded-md outline-none bg-indigo-50 pt-3"%>
        </div>
        <div>
          <%= f.label :department, "所屬部門",class: "block mb-1 font-semibold text-gray-600 pt-3" %>
          <%= f.select :department, current_company.departments.all.map{ |c| [c.department_name] },class: "w-full px-4 py-2 rounded-md outline-none bg-indigo-50"  %>
        </div>
        <div>
          <%= f.label :job_title, "職稱",class: "block mb-1 font-semibold text-gray-600 pt-3" %>
          <%= f.text_field :job_title,class: "w-full px-4 py-2 rounded-md outline-none bg-indigo-50" %>
        </div>
        <div>
          <%= f.label :gender, t("性別"),class: "block mb-1 font-semibold text-gray-600 pt-3" %>
          <%= f.select :gender , User.all_gender,class: "w-full px-4 py-2 rounded-md outline-none bg-indigo-50" %>
        </div>
        <div>
          <%= f.label :tel, t("電話號碼"),class: "block mb-1 font-semibold text-gray-600 pt-3" %>
          <%= f.text_field :tel, placeholder: t("輸入手機號碼"),class: "w-full px-4 py-2 rounded-md outline-none bg-indigo-50" %>
        </div>
        <div>
          <%= f.label :start_at, t("報到日期"),class: "block mb-1 font-semibold text-gray-600 pt-3" %>
          <%= f.date_field :start_at,class: "w-full px-4 py-2 rounded-md outline-none bg-indigo-50" %>
        </div>
        <div>
          <%= f.label :end_at, "離職日期",class: "block mb-1 font-semibold text-gray-600 pt-3" %>
          <%= f.date_field :end_at  %>
        </div>
        <div class="pt-5 actions">
          <%= f.submit "編輯員工資訊",class: "w-full py-2 mt-4 text-lg tracking-wide text-indigo-100 rounded-md bg-gradient-to-tr from-blue-600 to-indigo-600" %>
      </div>
      </div>
    </div>
  </form>
</div>
</div>
<% end %>