  <h1 class="p-6 bg-gray-200"><%=t('員工資訊')%></h1>
  <div class="px-4 bg-gray-200 rounded-lg">
    <% if policy(:profile).create?  %>
      <div class="flex flex-col">
        <div class="flex justify-end bg-gray-200">
          <div class="flex justify-end mb-3">
            <%= link_to t('新增員工資訊'), new_user_account_path,class: "inline-block add-btn" %>
          </div>
        </div>
      <% end %>
      <table class="w-full text-lg rounded-lg shadow-md">
          <tr class="thead">
              <td class="tp"><%= t('員工編號') %></td>
              <td class="tp"><%= t('姓名') %></td>
              <td class="tp"><%= t('部門名稱') %></td>
              <td class="tp"><%= t('班別名稱') %></td>
              <td class="tp"><%= "聯絡電話" %></td>
              <% if policy(:profile).create?  %>
                <td class="tp"><%= t('編輯員工資訊') %></td>
                <td class="tp"><%= t('刪除員工資訊') %></td>
              <% end %>
          </tr>
          <% @profiles.order(staff_no: :asc).each do |profile|  %>
          <div class="h-full">
          <tr>
              <td class="tbody"><%= profile.staff_no %></td>
              <td class="tbody"><%= profile.name %></td>
              <td class="tbody"><%= profile.department%></td>
              <td class="tbody"><%= profile.work_shift_title%></td>
              <td class="tbody"><%= profile.tel %></td>
              <% if policy(:profile).create?  %>
                <td class="tbody"><%= link_to t("編輯"), edit_profile_path(profile),class: "edit-btn" %></td>
                <td class="tbody"><%= link_to t("刪除"), profile_path(profile.id),class: "delete-btn",method: "delete", data: {confirm: t('確定要刪除嗎?')} %></td> 
              <% end %>
            <% end %>
          </tr>
      </table>
    </div>
  </div>
</div>
