<h1 class="px-16 py-6 bg-gray-200"><%=t('員工資訊')%></h1>
<div class="px-16 bg-gray-200 rounded-lg">
  <% if policy(:profile).create?  %>
    <div class="flex justify-end mb-8 bg-gray-200">
      <%= link_to t('新增員工資訊'), new_user_account_path,class: "add-btn" %>
    </div>  
  <% end %>
  
  <h2 class="mb-3 bg-gray-200"><%= t('搜尋關鍵字') %></h2>
  <div class="flex justify-around mb-6">
    <%= search_form_for @q do |f| %>
      <%= f.label :staff_no_cont, t("員工編號"), class: " mb-2 font-semibold text-gray-600 pt-3" %>
      <%= f.search_field :staff_no_cont, placeholder:t("請輸入員工編號"),class: "px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50" %>

      <%= f.label :department_cont,t("部門"), class: " mb-2 font-semibold text-gray-600 pt-3" %>
      <%= f.search_field :department_cont, placeholder:t("請輸入部門名稱"),class: "px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50" %>

      <%= f.label :name_cont,t("姓名"), class: " mb-2 font-semibold text-gray-600 pt-3" %>
      <%= f.search_field :name_cont, placeholder:t("請輸入員工姓名"),class: "mr-6 px-4 py-2 rounded-md outline-none bg-indigo-50" %>

      <%= f.submit class: "inline-block add-btn" %>
    <% end %>
  </div>
    <table class="w-full text-lg rounded-lg shadow-md">
      <tr class="thead">
        <td class="tp"><%= t('員工編號') %></td>
        <td class="tp"><%= t('姓名') %></td>
        <td class="tp"><%= t('部門名稱') %></td>
        <td class="tp"><%= t('班表名稱') %></td>
        <td class="tp"><%= t("聯絡電話") %></td>
        <% if policy(:profile).create?  %>
          <td class="tp"><%= t('編輯員工資訊') %></td>
          <td class="tp"><%= t('刪除員工資訊') %></td>
        <% end %>
      </tr>
      <% @profiles.order(staff_no: :asc).each do |profile|  %>
      <tr>
        <td class="tbody"><%= profile.staff_no %></td>
        <td class="tbody"><%= profile.name %></td>
        <td class="tbody"><%= profile.department%></td>
        <td class="tbody"><%= profile.work_shift_title%></td>
        <td class="tbody"><%= profile.tel %></td>
        <% if policy(:profile).create?  %>
          <td class="tbody"><%= link_to t("編輯"), edit_profile_path(profile),class: "edit-btn" %></td>
          <td class="tbody"><%= link_to t("刪除"), profile_path(profile.id),class: "delete-btn",method: "delete", data: {confirm: t('確定要刪除嗎?')} %></td> 
        <% end %>
      <% end %>
      </tr>
    </table>
</div>
