        <%= form_with model: punchcard  do |f| %>
            <% if punchcard.errors.any? %>
                <ul>
                  <% punchcard.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
            <% end %>
    現在時間<%= Time.current %>
    <% current_user.punchcards  .each do |p| %>
    <%# <%% if p.is_first_punchcard_today == true %>
            <div class="field">
              <% f.label :punch_inflex_at, "上班打卡" %>
              <% f.text_field :punch_in_at %>
            </div>
            <div class="field">
                <%= f.label :body_temperature, "體溫回報" %>
                <%= f.text_field :body_temperature %>
            </div>
    <%# <% else %>
            <div class="field">
                <% f.label :punch_out_at, "下班打卡" %>
                <% f.text_field :punch_out_at %>
              </div>
              <div class="actions">
                <%= f.submit "打卡" %>
              </div>
            </div>
        <% end %>
    <%# <% end %>
<% end %>
