<%= form_with model: punchcard  do |f| %>
            <% if punchcard.errors.any? %>
                <ul>
                  <% punchcard.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
            <% end %>
    現在時間<%= Time.current %>
            <div class="field">
              <% f.label :punch_inflex_at, "上班打卡" %>
              <%= f.text_field :punch_in_at ,value: Time.current %>
            </div>
            <div class="field">
                <%= f.label :body_temperature, "體溫回報" %>
                <%= f.text_field :body_temperature %>
            </div>
            <div class="actions">
              <%= f.submit "上班打卡" %>
            </div>
<% end %>

<%= form_with model: punchcard  do |f1| %>
            <% if punchcard.errors.any? %>
                <ul>
                  <% punchcard.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
            <% end %>
    現在時間<%= Time.current %>
              <div class="field">
                  <% f1.label :punch_out_at, "下班打卡" %>
                  <%= f1.text_field :punch_out_at ,value: Time.current %>
              </div>
            <div class="field">
              <div class="actions">
                <%= f1.submit "下班打卡" %>
              </div>
            </div>
<% end %>
