<p id="notice"><%= notice %></p>
<h1>Flycat考勤打卡系統</h1>
<table>
  <thead>
    <tr>
      <th>員工id</th>
      <th>員工email</th>
      <th>是否首次打卡</th>
      <th>上班時間</th>
      <th>下班時間</th>
      <th>體溫(°C)</th>
    </tr>
  </thead>

  <tbody class="text-center ">
    <% @punchcards.each do |p| %>
      <tr>
        <td td class="px-6"><%= current_user.id %></td>
        <td td class="px-6"><%= current_user.email %></td>
        <td td class="px-6"><%= p.is_first_punchcard_today ? "是" : "否" %></td>
        <td class="px-6"><%= p.punch_in_at.to_s %></td>
        <td class="px-6"><%= p.punch_out_at %></td>
        <%# <td><%= p.punch_in_at.strftime("%H:%M:%S")</td> %>
        <%# <td><%= p.punch_out_at.strftime("%H:%M:%S")</td> %>
        <td class="px-6"><%= p.body_temperature %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增打卡', new_punchcard_path %>