<h1>飛天貓</h1>
    <% @punchcards.each do |p| %>
    
    <% if p.is_first_punchcard_today == true %>
          <%= form_with(model: Punchcard ) do |f_in| %>
            <div class="flex field">
              <%= f_in.label :punch_in_at %>
              <%= f_in.text_field :punch_in_at ,value: Time.current %>
            </div>
            <div class="actions">
              <%= f_in.submit  "上班打卡"%>
            </div>
          <% end %>
    <% else %>
          <%= form_with(model: Punchcard ) do |f_out| %>
              <div class="flex field">
                <%= f_out.label :punch_out_at %>
                  <%= f_out.text_field :punch_out_at ,value: Time.current %>
              </div>
              <div class="actions">
                <%= f_out.submit "下班打卡" %>
              </div>
          <% end %>
    <% end %>
    <%= form_with(model: Punchcard ) do |f| %>
      <div class="field">
        <%= f.label :body_temperature, "體溫回報" %>
        <%= f.text_field :body_temperature %>
      </div>
    <% end %>
<% end %>






<%= form_with(model: Punchcard ) do |f| %>
    <% @punchcards.each do |p| %>
            <% if p.is_first_punchcard_today == true %>
        <div class="flex field">
              <%= f.label :punch_in_at %>
              <%= f.text_field :punch_in_at ,value: Time.current %>
            </div>
            <div class="actions">
              <%= f.submit  "上班打卡"%>
            </div>
        <% else %>
            <div class="flex field">
              <%= f.label :punch_out_at %>
                <%= f.text_field :punch_out_at ,value: Time.current %>
            </div>
            <div class="actions">
              <%= f.submit "下班打卡" %>
            </div>
        <% end %>
    <% end %>
        <div class="field">
          <%= f.label :body_temperature, "體溫回報" %>
          <%= f.text_field :body_temperature %>
        </div>
<% end %>


