  <% if @punchcard.errors.any? %>
      <ul>
        <% @punchcard.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
<%= form_with model: @punchcard  do |f| %>
  <%= request.remote_ip %>
  <div class="p-5 border-8 border-green-500 w-96">
    <div class="field">
      <% f.label :punch_inflex_at, "上班打卡" %>
      <%= f.text_field :punch_in_at, value: Time.current,readonly: :true %>
    </div>
    <div class="field">
      <%= f.label :body_temperature, "體溫回報" %>
      <%= f.text_field :body_temperature,class:" border border-gray-900"  %>
    </div>
    <div class="actions">
      <%= f.submit "上班打卡" %>
    </div>
  </div>
<% end %>
<div class="py-10 ">
  <%= form_with model: @punchcard  do |f1| %>
      <div class="p-5 border-8 border-blue-500 w-96">
        <div class="field">
          <% f1.label :punch_out_at, "下班打卡" %>
          <%= f1.text_field :punch_out_at,value: Time.current,readonly: :true %>
        </div>
        <div class="field">
          <div class="actions">
            <%= f1.submit "下班打卡" %>
          </div>
        </div>
      </div>
  <% end %>
</div>