<h2><%= t('sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field" >
    <%= f.fields_for :company, Company.new do |c| %>
      <div>
        <%= c.label :title, '公司名稱' %>
        <%= c.text_field :title  %>
      </div>

      <div>
        <%= c.label :vat_number, '統一編號' %>
        <%= c.text_field :vat_number  %>
      </div>
    <% end %>
  </div>

  <hr>

  <div class="field">
    <%= f.fields_for :company, Company.new do |c| %>
      <div>
        <%= c.label :title, '公司名稱' %>
        <%= c.text_field :title , id:'vat' %>
      </div>
    <% end %>
  </div>

  <hr>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit t("sign_up")  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
