<div class="w-full mt-6 sm:w-1 md:w-1/2 sm:mt-0">
    <div class="bg-gray-200">
      <h1 class="px-5"><%= t('請假總覽') %></h1>
      <div class="px-4 py-5 rounded-lg">
        <table class="w-full text-lg rounded-lg shadow-md">
          <tr class="thead">
            <td class="tp"><%= t('申請人') %></td>
            <td class="tp"><%= t('假別') %></td>
            <td class="tp"><%= t('請假事由') %></td>
          </tr>
          <% @vacation_result.first(5).each do |vacation|  %>
            <tr>
              <td class="tbody"><%= vacation&.profile&.name %></td>
              <td class="tbody"><%= vacation.vacation_type %></td>
              <td class="tbody"><%= vacation.reason %></td>
            </tr>
          <% end %>      
        </table>
      </div>
    </div>
  </div>
</div>