<h1 class="p-6 bg-gray-200"><%= t('請假管理') %></h1>
<div class="px-4 bg-gray-200 rounded-lg">
  <div class="flex justify-end mb-3">
    <%= link_to t("新增假單"), new_vacation_path,class: "inline-block add-btn" if policy(:vacation).create? %>
  </div>
  <table class="w-full text-lg rounded-lg shadow-md">
    <tr class="thead">
      <td class="tp"><%= t('員工') %></td>
      <td class="tp"><%= t('請假日') %></td>
      <td class="tp"><%= t('假別') %></td>
      <td class="tp"><%= t('時數') %></td>
      <td class="tp"><%= t('簽核狀態') %></td>
      <td class="tp"><%= t('請假事由') %></td>
      <td class="tp"><%= t('詳細資訊') %></td>
      <% if policy(:vacation).only_manager? %>
        <td class="tp"><%= t('簽核/編輯') %></td>
      <% end %>

      <% if policy(:vacation).only_admin? %>
        <td class="tp"><%= t('簽核') %></td>
      <% elsif policy(:vacation).only_staff? %>
        <td class="tp"><%= t('編輯') %></td>
      <% end %>
      
      <td class="tp"><%=  t('刪除') %></td>
    </tr>
    <% @vacation_result.each do |vacation|  %>
      <tr>
      <%# 用&符號代表有就撈沒有就跳過，因為之前資料庫有一些欄位在建的時候資料還沒寫進去，是空白的 %>
        <td class="tbody"><%= vacation&.profile&.name %></td>
        <td class="tbody"><%= vacation.vacation_at %></td>
        <td class="tbody"><%= vacation.vacation_type %></td>
        <td class="tbody"><%= vacation.hour %></td>
        <div>
          <% if vacation.status == "approved" %>
            <td class="px-4 py-3 text-xs text-center bg-gray-100 border-b"><span class="approved-tag"><%= t('同意') %></span></td>
          <% elsif vacation.status == "rejected" %>
            <td class="px-4 py-3 text-xs text-center bg-gray-100 border-b"><span class="rejected-tag"><%= t('駁回') %></span></td>
          <% else %>
            <td class="px-4 py-3 text-xs text-center bg-gray-100 border-b"><span class="pending-tag"><%= t('待簽核')  %></span></td>
          <% end %>
          <td class="tbody"><%= vacation.reason %></td>

          <% if policy(:vacation).show? %>
            <td class="tbody"><%= link_to t('展開'), vacation,class: "show-btn" %></td>
          <% end %>

          <% if vacation.user_id == current_user.id && policy(:vacation).update? %>
            <td class="tbody"><%= link_to t('編輯'), edit_vacation_path(vacation),class: "edit-btn" %></td>
          <% elsif policy(:vacation).signoff? %>
            <td class="tbody"><%= link_to t('簽核'), signoff_vacation_path(vacation),class: "signoff-btn" %></td>
          <% end %>
          <td class="tbody"><%= link_to t('刪除'), vacation_path(vacation.id), method: :delete, data: { confirm: t('確定要刪除嗎?') },class: "delete-btn" %></td>
        </div>
      </tr>
    <% end %>
  </table>
</div>