<div class="flex items-start justify-center w-full h-screen text-xl bg-gray-200">
  <p id="notice"><%= notice %></p>
  <div class="w-full max-w-xl px-10 mt-10 mb-16 bg-white shadow-md rounded-xl ">
    <h1 class="pb-3 mt-8 font-bold text-center text-gray-500">Vacation Detail</h1>
    <div class="py-1 field">
      <strong>Vacation Date:</strong>
      <%= @vacation.vacation_at %>
    </div>
    
    <div class="py-1 field">
      <strong>Vacation Type:</strong>
      <%= @vacation.vacation_type %>
    </div>

    <div class="py-1 field">
      <strong>Status:</strong>
      <%= @vacation.status %>
    </div>

    <div class="py-1 field">
      <strong>Reason:</strong>
      <%= @vacation.reason if policy(:vacation).show? %>
    </div>

    <div class="py-1 field">
      <strong>Proof:</strong>
      <%= link_to 'Show proof', @vacation.proof,class: "mb-1 font-semibold text-blue-600 pt-3", target: "_blank" if @vacation.proof.attached? %>
      <%= 'No proof' unless @vacation.proof.attached? %>
    </div>
    <div class="flex justify-center my-8">
      <%= link_to 'Back', vacations_path, class: "cancel-btn" %>
      <%= link_to 'Edit', edit_vacation_path(@vacation), class: "add-btn" %>
    </div>
  </div>
</div>