<p id="notice"><%= notice %></p>

<p>
  <strong>Vacation type:</strong>
  <%= @vacation.vacation_type %>
</p>

<p>
  <strong>Vacation at:</strong>
  <%= @vacation.vacation_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vacation.status %>
</p>

<p>
  <strong>Content:</strong>
  <%= @vacation.reason if policy(:vacation).show?%>
</p>

<p>
  <strong>Proof:</strong>
  <%= link_to '點此查看請假證明', @vacation.proof, target: "_blank" if @vacation.proof.attached? %>
  <%= '未提供證明' unless @vacation.proof.attached? %>
</p>

<%= link_to 'Edit', edit_vacation_path(@vacation) %> |
<%= link_to 'Back', vacations_path %>