


<%= form_with(model: @vacation ,url: signoff_completed_vacation_path, method: 'post') do |form| %>

  <div class="field">
    <%= form.label :vacation_type %>
    <%= form.text_field :vacation_type ,readonly: :true %>
  </div>

  <div class="field">
    <%= form.label :vacation_at %>
    <%= form.date_field :vacation_at,readonly: :true %>
  </div>

    <div class="field">
    <%= form.label :status %>
    <%= form.select :status , Vacation.all_status %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_field :reason,readonly: :true %>
  </div>
  
  <div class="field">
    <%= form.label :proof %>
    <%= link_to '點此查看請假證明', @vacation.proof, target: "_blank" if @vacation.proof.attached? %>
    <%= '未提供證明' unless @vacation.proof.attached? %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

