<%= form_with(model: bulletin, url: new_admin_bulletin_path) do |form| %>
  <% if bulletin.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% bulletin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "公告標題" %>
    <%= form.text_field :title %>
  </div>

<div class="field">
    <%= form.label :content, "公告內容" %>
    <%= form.text_area :content %>
  </div>

    <div class="actions">
    <%= form.submit %>
    </div>

<% end %>
