<div class="flex flex-wrap py-6 ml-16 mr-16">
  <div class="w-full bg-gray-200 sm:w-1 md:w-1/2 sm:mt-0">
    <div class="bg-gray-200">
      <h1><%= t('公告總覽') %></h1>
      <div class="py-5 rounded-lg">
        <table class="w-full text-lg rounded-lg shadow-md">
          <tr class="thead">
            <td class="tp"><%= t('公告日期') %></td>
            <td class="tp"><%= t('公告標題') %></td>
            <td class="tp"><%= t('已讀人數') %></td>
          </tr>
          <% @bulletins.order(updated_at: :desc).first(5).each do |bulletin|  %>
            <tr>
              <td class="tbody"><%= bulletin.updated_at.to_date %></td>
              <td class="tbody"><%= link_to bulletin.title , bulletin_path(bulletin) %></td>
              <td class="tbody">
              <div data-controller="read-bulletins" 
                   data-read="<%= current_user.read?(bulletin)%>"
                   data-bulletin-id="<%= bulletin.id %>">
                <a href="#" data-read-bulletins-target="read" data-action="click->read-bulletins#read">
                  <i class="text-lg text-yellow-300 fa-solid fa-envelope"></i>
                  <i data-read-bulletins-target="readCount">
                    <%= BulletinRead.where(bulletin_id: bulletin.id, is_read:true).count %>
                  </i>
                </a>
                <a href="#" data-read-bulletins-target="unread" data-action="click->read-bulletins#unread">
                  <i class="text-lg text-yellow-500 fa-solid fa-envelope-open-text"></i>
                  <i data-read-bulletins-target="unreadCount">
                    <%= BulletinRead.where(bulletin_id: bulletin.id, is_read:true).count %>
                  </i>
                </a>
              </div>
            </td>
            </tr>
          <% end %>      
        </table>
      </div>
    </div>
  </div>
  