<div class="flex flex-wrap">
  <div class="w-full mt-6 bg-gray-200 sm:w-1 md:w-1/2 sm:mt-0">
    <div class="bg-gray-200">
      <h1 class="px-6"><%= t('公告總覽') %></h1>
      <div class="py-5 pl-6 rounded-lg">
        <table class="w-full text-lg rounded-lg shadow-md">
          <tr class="thead">
            <td class="tp"><%= t('公告日期') %></td>
            <td class="tp"><%= t('公告標題') %></td>
          </tr>
          <% @bulletins.order(updated_at: :desc).last(5).each do |bulletin|  %>
            <tr>
              <td class="tbody"><%= bulletin.updated_at.to_date %></td>
              <td class="tbody"><%= link_to bulletin.title , bulletin_path(bulletin) %></td>
            </tr>
          <% end %>      
        </table>
      </div>
    </div>
  </div>
  