<h1>工作表設定</h1>
<%= link_to '新增', new_work_shift_path %>
<table>
  <tr>
    <td>工作表名稱</td>
    <td>工作表類別</td>
    <td>執行</td>
  </tr>
  <% @work_shifts.each do |work_shift| %>
  <tr>
    <td><%= work_shift.title %></td>
    <% if work_shift.kind == 'value 1' %>
      <td>固定班表</td>
    <% else %>
      <td>彈性班表</td>
    <% end %>
    <td>
      <%= link_to '編輯' , edit_work_shift_path(work_shift.id) %> 
      <%= link_to'刪除' , work_shift_path(work_shift.id), method: 'delete', data: {
      confirm: '確定要刪除嗎？'} %>
      <%= link_to'設定' , sets_work_shift_path(work_shift.id) %>
    </td>
  </tr>
  <% end %>
</table>