<div class="flex items-start justify-center w-full h-screen pt-10 pt-16 bg-gray-200">
  <%= form_with(model: @work_shift, url:work_shifts_path, method: 'post' ) do |form| %>
    <% if @work_shift.errors.any?  %>
      <ul>
        <% @work_shift.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="w-screen max-w-md px-10 bg-white shadow-md rounded-xl">
    <h1 class="py-3 font-bold text-center text-gray-500"><%= t('新增班表') %></h1>
      <div class="mb-6 field">
        <%= form.label :title, t("班表名稱") %>
        <%= form.text_field :title, class: "p-3 mt-4 leading-none text-gray-900 bg-gray-100 border border-gray-200 rounded focus:outline-none focus:border-blue-700" %>
      </div>

      <div class="mb-4 kind">
        <%= form.label :kind, t("班別") %>
        <%= form.select :kind, WorkShift.all_kind, class: "p-3 my-4 leading-none text-gray-900 bg-gray-100 border border-gray-200 rounded focus:outline-none focus:border-blue-700" %>
      </div>
        <div class="flex justify-center actions">
        <%= form.submit t("新增班表"), class: "add-btn mb-4 w-full" %>
        </div>
    <% end %>
  </div>
</div>