<%= content_tag :div, data: { controller: 'calendar' } do %>
    <%= content_tag :div, class: 'modal bg-white', data: { target: 'calendar.modal' } do %>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= form_with(model: Event.new , url:work_shift_events_path(@work_shift.id),  method: 'post', local: true) do |form| %>
            <div class="modal-body w-max ">
              <div class="flex justify-start mb-4 ml-4">
                <%= form.label :all_day, "全日", class: "mr-2 mt-1" %>
                <%= form.check_box :all_day, class: "mr-2 mt-2" %>
                <%= form.label :shifted_mode, "排班模式", class: "mr-2 mt-1" %>
                <div class="border-solid border-2 mr-2">
                  <%= form.select :shifted_mode , Event.all_mode %>
                </div>
                <%= form.label :vacation_set, "排休設定", class: "mr-2 mt-1" %>
                <div class="border-solid border-2">
                  <%= form.select :vacation_set , Event.all_vacation_set%>
                </div>
              </div>

              <div class="flex justify-start mb-4 ml-4", data: { target: 'calendar.start_at' }>
                <%= form.label :start_at, "開始時間", class: "mr-2 mt-2" %>
                <%= form.datetime_field :start_at, class: "px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50 w-3/4" %>
              </div>
  
              <div class="flex justify-start mb-4 ml-4", data: { target: 'calendar.end_at' }>
                <%= form.label :end_at, "結束時間", class: "mr-2 mt-2" %>
                <%= form.datetime_field :end_at, class: "px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50 w-3/4"%>
              </div>
  
              <div class="flex justify-start mb-4 ml-4">
                <%= form.label :title, "班表標題", class: "mr-2 mt-2" %>
                <%= form.text_field :title, class: "px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50 w-3/4" %>
              </div>

              <div class="flex justify-start mb-4 ml-4">
                <%= form.label :content, "班表內容", class: "mr-2 mt-8" %>
                <%= form.text_field :content, class: "px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50 w-3/4 h-24" %>
              </div>

              <div class="flex justify-start mb-4 ml-4">
                <%= form.label "值班人員", class: "mr-2 mt-2" %>
                <select id="staff_list" class="border-solid border-2 mr-2 h-10">
                  <% @on_duty_staff.each do |staff| %>
                    <option value=<%= staff %>><%= staff %></option>
                  <%end %>
                </select>
                <div id="shifted_list" class="px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50 w-48">
                </div>
              </div>

              <div>
                <%= form.hidden_field :on_duty_staff %>
              </div>
            </div>
            <div class="modal-footer flex justify-end mb-4 ml-4 w-96">
              <%= link_to '返回總表', work_shifts_path, class: "shift-btn mr-4 mb-2 bg-green-500 rounded hover:bg-green-700" %>
              <%= form.submit t("新增班表"), class: "btn shift-btn bg-blue-500 rounded hover:bg-blue-700 mb-2" %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div data-target="calendar.calendar" class="mx-auto w-5/6 pb-5"></div>
  <% end %>
  
