<h1><%= t('部門管理') %></h1>
<table>
  <tr>
      <td><%= t('部門名稱') %></td>
      <td><%= t('編輯資訊') %></td>
      <td><%= t('刪除部門') %></td>
  </tr>

  <% @departments.order(id: :asc).each do |department|  %>
  <tr>
    <td><%= department.department_name %></td>
    <% if policy(:department).index?  %>
      <td><%= link_to "編輯", edit_department_path(department) %></td>
      <td><%= link_to "刪除", department_path(department.id), method: 'delete', data: {confirm: '確定要刪除嗎？'} %></td>
    <% end %>
  </tr>
  <% end %>
    
</table>
</br>
<div>
<%= link_to t("新增部門"), new_department_path if policy(:department).index? %>
</div>
