<nav class="container flex justify-around py-8 mx-auto bg-white">
  <div class="flex items-center">
    <h3 class="text-2xl font-medium text-blue-500"><%= link_to "飛天貓", root_path , class: "navbar-brand" %></h3>
  </div>
  <!-- left header section -->
  <div class="items-center hidden space-x-8 lg:flex">
    <a href="">Home</a>
    <a href="">About Us</a>
    
    <% if policy(:vendor).index? %>
      <a><%= link_to "公司列表",new_admin_vendor_path %></a>
      
    <% end %>
    <% if policy(:department).index? %>
      <a><%= link_to "部門管理",admin_departments_path %></a>
    <% end %>
    <% if policy(:bulletin).index? %>
      <a><%= link_to "公佈欄",admin_bulletins_path %></a>
    <% end %>
    <% if policy(:employee).new? %>
      <a><%= link_to "新增員工", new_staff_path %></a>
    <% end %> 
     <% if policy(:employee).index? %>
      <a><%= link_to "員工列表", staffs_path %></a>
    <% end %>    
    <a><%= link_to "新增公司資訊",new_company_path%></a>
  </div>
  <!-- right header section -->
    <% if user_signed_in? %>

       
    <li>
        <%= link_to current_user.email, edit_user_registration_path %>
    </li>
  <div class="flex items-center space-x-2">
        <button class="px-4 py-2 text-blue-100 bg-blue-800 rounded-md">
        <%= link_to "登出",destroy_user_session_path, method: "delete"%>
    </button>
    <% else %>
    <%# <button class="px-4 py-2 text-blue-100 bg-blue-800 rounded-md">
        <%= link_to "登入",new_user_session_path %>
    <%# </button> %>
    <% end %>
    <button class="px-4 py-2 text-gray-200 bg-gray-400 rounded-md">
        <%= link_to "註冊",new_user_registration_path %>
    </button>

  </div>
</nav>


