<%= form_with(model: @event , url:work_shift_event_path(@work_shift.id,@event.id),  method: 'patch', data: { controller: "on-duties" }) do |form| %>
    
    <div class="px-20 pt-8 pb-8 mx-auto mt-20 mb-16 bg-white shadow-md w-max rounded-xl">
      <div class="flex justify-center mb-4 ">
        <h1 class="text-3xl font-bold">編輯排班</h1>
      </div>
      <div class="flex justify-start mb-4 ml-4">
        <%= form.label :all_day, "全日", class: "mr-2 mt-1" %>
        <%= form.check_box :all_day, class: "mr-2 mt-2" %>
        <%= form.label :vacation_set, "排休設定", class: "mr-2 mt-1" %>
        <div class="border-2 border-solid">
          <%= form.select :vacation_set , Event.all_vacation_set%>
        </div>
      </div>

      <div class="flex justify-start mb-4 ml-4", data: { target: 'calendar.start_at' }>
        <%= form.label :start_at, "開始時間", class: "mr-2 mt-2" %>
        <%= form.datetime_field :start_at, class: "px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50 w-3/4" %>
      </div>

      <div class="flex justify-start mb-4 ml-4", data: { target: 'calendar.end_at' }>
        <%= form.label :end_at, "結束時間", class: "mr-2 mt-2" %>
        <%= form.datetime_field :end_at, class: "px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50 w-3/4"%>
      </div>

      <div class="flex justify-start mb-4 ml-4">
        <%= form.label :title, "班表標題", class: "mr-2 mt-2" %>
        <%= form.text_field :title, class: "px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50 w-3/4" %>
      </div>

      <div class="flex justify-start mb-4 ml-4">
        <%= form.label :content, "班表內容", class: "mr-2 mt-8" %>
        <%= form.text_field :content, class: "px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50 w-3/4 h-24" %>
      </div>

      <div class="flex justify-start mb-4 ml-4">
        <%= form.label "值班人員", class: "mr-2 mt-2" %>
        <select id="staff_list" class="h-10 mr-2 border-2 border-solid">
          <% @on_duty_staff.each do |staff| %>
            <option value=<%= staff %>><%= staff %></option>
          <%end %>
        </select>
        <div id="shifted_list" class="w-48 px-4 py-2 mr-6 rounded-md outline-none bg-indigo-50">
        </div>
      </div>

      <div>
        <%= form.hidden_field :on_duty_staff %>
      </div>
      <div class="flex justify-end mb-4 ml-4 w-96">
        <%= form.submit "儲存", class: "btn small-btn bg-blue-500 rounded hover:bg-blue-700 mr-2"%>
        <%= link_to '明細', work_shift_event_path(@work_shift.id,@event.id), class: "small-btn bg-purple-500 rounded hover:bg-purple-700 mr-2" %>
        <%= link_to '返回', setting_work_shift_path(@work_shift.id), class: "small-btn bg-gray-400 rounded hover:bg-gray-500 mr-2" %>
      </div>
    </div>
  <% end %>

  


