<div class="w-max px-20 pt-8 pb-8 mt-20 mx-auto mb-16 bg-white shadow-md rounded-xl">
  <div class="flex justify-center mb-4 ">
    <h1 class="font-bold text-3xl">班表明細</h1>
  </div>

  <div class="flex justify-start mb-4 ">
    <label class="mr-2 font-bold">開始時間:</label>
    <%= @event.start_at %>
  </div>

  <div class="flex justify-start mb-4 ">
    <label class="mr-2 font-bold">結束時間:</label>
    <%= @event.end_at %>
  </div>

  <div class="flex justify-start mb-4 ">
    <label class="mr-2 font-bold">標題:</label>
    <%= @event.title %>
  </div>

  <div class="flex justify-start mb-4 ">
    <label class="mr-2 font-bold">內容:</label>
    <%= @event.content %>
  </div>

  <div class="flex justify-start mb-4 ">
    <label class="mr-2 font-bold">值班人員:</label>
    <%= @event.on_duty_staff %>
  </div>
  <div class="flex justify-end mb-4 ">
    <%= link_to '編輯', edit_work_shift_event_path(@work_shift.id,@event.id), class: "small-btn bg-blue-500 rounded hover:bg-blue-700 mr-2" %> 
    <%= link_to '刪除' , work_shift_event_path(@work_shift.id,@event.id), method: 'delete', data: {confirm: '你確定嗎?'}, class: "small-btn bg-red-500 rounded hover:bg-red-700 mr-2" %> 
    <%= link_to '返回', setting_work_shift_path(@work_shift.id), class: "small-btn bg-gray-400 rounded hover:bg-gray-500 " %>
  </div>
</div> 
