<div class="flex items-start justify-center w-full h-screen pt-10 bg-gray-200">
  <div class="w-screen max-w-3xl px-10 py-8 bg-white shadow-md rounded-xl">
    <div class="overflow-auto">
      <table class="w-full rounded-lg shadow-md text-md whitespace-nowrap">
      <% if @order.status === "SUCCESS" %>
	    <h1 class="mb-5"><%= t('感謝您的支持，已開通員工人數限制') %></h1>
          <tr class="thead">
              <td class="tp"><%= t('訂單編號') %></td>
              <td class="tp"><%= t('付款時間') %></td>
              <td class="tp"><%= t('卡號後四碼') %></td>
          </tr>
          <tr>
              <td class="tbody"><%= @order.order_no %></td>
              <td class="tbody"><%= @order.pay_at %></td>
              <td class="tbody"><%= @order.card_last_4_no %></td>
          </tr>
              <div class="flex justify-end mb-3">
                <%= link_to t('前往新增員工'), profiles_path,class: "inline-block add-btn" %>
              </div>
      <% else %>
		    <h1 class="mb-5"><%= t('刷卡失敗，請再試一次') %></h1>
          <div class="flex justify-end mb-3">
            <%= link_to t('升級方案'), new_order_path,class: "inline-block add-btn" %>
          </div>
		  <% end%>
      </table>
    </div>
  </div>
</div>