<h1><%= t('新增公司資訊') %></h1>

<%= form_with(model: @company) do |form| %>
  <% if @company.errors.any?  %>
    <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="field">
    <%= form.label :company_title, t("公司名稱") %>
    <%= form.text_field :company_title %>
  </div>

  <div class="field">
    <%= form.label :vat_number, t("統一編號") %>
    <%= form.text_field :vat_number %>
  </div>

  <div class="field">
    <%= form.label :principal, t("負責人") %>
    <%= form.text_field :principal %>
  </div>

  <div class="field">
    <%= form.label :address, t("公司地址") %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :linkman, t("公司聯絡人") %>
    <%= form.text_field :linkman %>
  </div>

  <div class="field">
    <%= form.label :email, t("公司信箱") %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
