<div class="card">
  <div class="card-header">
    <h2>新增廠商</h2>
  </div>
  <div class="card-body">
  <%= form_for(@vendor ,url: admin_vendors_path, method: "post") do |f| %>
  
    <div class="field">
      <%= f.label :email,"信箱" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "輸入email" %>
    </div>

    <div class="field">
      <%= f.label :password, "註冊密碼" %>
      <%= f.password_field :password, autocomplete: "new-password",placeholder: "輸入密碼" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"請再次輸入密碼" %>
    </div>

    <div class="actions">
      <%= f.submit "註冊", class: 'btn btn-warning' %>
    </div>
  <% end %>
  </div>
</div>

